certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
Deprecated==1.2.13
gitdb==4.0.5
GitPython==3.1.27
idna==2.10
PyGithub==1.54
PyJWT==2.4.0
PyYAML==5.4
requests==2.24.0
smmap==5.0.0
urllib3==1.26.5
wrapt==1.12.1
